<section>
  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>


  <h2>Total Product Categories</h2>
  <p><%= @category_count %></p>
  <h2>Total Products</h2>
  <p><%= @product_count %></p>
</section>

